



	<div>
    <h1 id="sheltEdit">Shelters Near You</h1>
	</div>
	
	
	
<% @shelters.each do |shelter| %>
	<%= link_to shelter do %>
	<div class="eventTile">
		
		<%= shelter.name %><br/>
		<%= shelter.city %><br/>
		<%= shelter.contact_phone %><br/>
		<%= shelter.zip %><br/>
		
	</div>
		
	<% end %>
			
			

			

	<% end %>

