

  <div class="formTile">
    <div class="form-group">
        <h1>Are You A New Client? </h1>

          
            <%= form_for(@victim) do |f| %>

			  <% if @victim.errors.any? %>
			    <div class="class2" id="error_explanation">
			      <%= pluralize(@victim.errors.count, "error") %> prohibited this victim from being saved:
			      <ul>
			        <% @victim.errors.full_messages.each do |message| %>
			        <li class="class3"><%= message %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>
				<%= f.text_field :name, placeholder: 'Name', class: "form-control"%>
				<%= f.text_field :email, placeholder: 'Email', class: "form-control"%>
				<%= f.text_field :password, placeholder: 'Password', class: "form-control"%>
				<%= f.text_field :password_confirmation, placeholder: 'Confirm Password', class: "form-control"%>
				<%= f.submit "Create Account", class: "btn btn-info" %>
				<% end %>
    </div>
  </div>



















